html, body, #page {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

.masthead {
  width: 100%;
  height: 160px;
  background: url("../static/images/v111_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.logohead {
  width: 100%;
  height: 95px;
  background: rgba(100,100,100,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.loginregistercontainer {
  width: 85px;
  height: 26px;
  opacity: 1;
  position: absolute;
  top: 36%;
  right: 50px;
  overflow: hidden;
}

.loginregistertext {
  width: 180px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 2px;
  left: 0px;
  font-family:calibri;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
  cursor: pointer;
  font-weight: normal;
}
.loginregistertext:hover {
  text-decoration: underline;
}

.navbar {
  width: 100%;
  height: 68px;
  background: rgba(150,150,150,1);
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 0px;
  overflow: hidden;
}

.navbarbuttontext {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 55px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.arbuilderbutton {
  width: 188px;
  height: 68px;
  opacity: 1;
  position: absolute;
  left: 106px;
  overflow: hidden;
  cursor: pointer;
}
.arbuilderbutton:hover{
  background: rgba(100, 100, 100, 1)
}
.arbuilderbuttonimage {
  width: 41px;
  height: 48px;
  background: url("../static/images/v5_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 12px;
  left: 10px;
  overflow: hidden;
}
.arbuilderbuttontext {
  width: 180px;
  position: absolute;
  top: 20px;
  left: 55px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.searchbuildsbutton {
  width: 218px;
  height: 68px;
  opacity: 1;
  position: absolute;
  left: 294px;
  overflow: hidden;
  border-left: 1px solid rgba(100, 100, 100, 1);
  cursor: pointer;
}
.searchbuildsbutton:hover{
	background: rgba(100, 100, 100, 1)
}
.searchbuildsbuttonimage {
  width: 35px;
  height: 46px;
  background: url("../static/images/v7_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 10px;
  overflow: hidden;
}
.buildsearchbuttontext {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 55px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.searchpartsbutton {
  width: 212px;
  height: 68px;
  opacity: 1;
  position: absolute;
  left: 513px;
  overflow: hidden;
  border-left: 1px solid rgba(100, 100, 100, 1);
  cursor: pointer;
}
.searchpartsbutton:hover{
	background: rgba(100, 100, 100, 1)
}
.searchpartsbuttonimage {
  width: 35px;
  height: 46px;
  background: url("../static/images/v9_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 10px;
  overflow: hidden;
}
.partsearchbuttontext {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 55px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.v20_5 {
  width: 222px;
  height: 68px;
  background: rgba(107,107,107,1);
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 551px;
  overflow: hidden;
}

.mastheadimage {
  width: 95px;
  height: 75px;
  background: url("../static/images/v12_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 114px;
  overflow: hidden;
}

.logotextcontainer {
	font-size: 0;
	position: absolute;
	top: 26px;
	left: 190px;
	
}

.logotext {
  width: 126px;
  color: rgba(0,0,0,1);
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
