<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
      <link type="text/css" href="/static/partsearch.css" rel="stylesheet" />
      <title>Document</title>
   </head>
   <body>
      <div class="masthead">
         <div class="logohead">
			<div class="mastheadimage"></div>
			<div class="logotextcontainer">
				<span class="logotext" style="color:rgba(89, 0, 0, 1)">AR</span>
				<span class="logotext">PARTS</span>
				<span class="logotext" style="color:rgba(89, 0, 0, 1)">LIST</span>
			</div>
			<div class="loginregistercontainer">
				<span onclick="window.location.href = 'https://arpartslist.com/login';" class="loginregistertext">login</span> |
				<span onclick="window.location.href = 'https://arpartslist.com/register';"class="loginregistertext">register</span>
			</div>
		 </div>
         <div class="navbar">
			<div onclick="window.location.href = '/arbuilder';" class="arbuilderbutton">
				<div class="arbuilderbuttonimage"></div>
				<div class="arbuilderbuttontext">AR Builder</div>
			</div>
			<div onclick="window.location.href = '/buildsearch';"class="searchbuildsbutton">
				<div class="searchbuildsbuttonimage"></div>
				<div class="buildsearchbuttontext">Search Builds</div>
			</div>
			<div onclick="window.location.href = '/partsearch';"class="searchpartsbutton">
				<div class="searchpartsbuttonimage"></div>
				<div class="partsearchbuttontext">Search Parts</div>
			</div>
		 </div>
      </div>
   </body>
</html>